.img {
    margin-top: 5px;
    width: 150px;
    height: 100px;
  }
  .card {
    display: relative;
    background-color: rgb(71, 77, 255);
    position: relative;
    font-size: 15px;
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
  }
  h3 {
    margin-top: 1rem;
  }