@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.cardsConteiner {
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  display: grid;
  justify-items: center;
  /* grid-column-gap: 80px; */
  grid-row-gap: 40px;
  justify-content: center;
  align-content: center;
  }

.containers{
  padding-top: 40px;
}

 .select {
   padding: 8px;
   margin: 6px;
   width: 300px;
   height: 50px;
   font-family: 'Fredoka One', cursive;
   font-size: 18px;
   text-align: center;
   border-radius: 7px;
   border: 3px solid rgb(1, 136, 68);
 }