@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
    margin: 0;
    background: url("https://wallpaperaccess.com/full/410285.jpg") center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    color: antiquewhite;
    text-shadow: 10px 10px 10px rgb(1, 136, 98);
  }

  