@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.body {
    background: url("file:///D:/Descargas%20Chrome/peakpx%20(1).jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
  }

  .neons {
    margin-top: 10rem;
    text-align: center;
    font-size: 7rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
 }
 
 @keyframes glow {
    from {
       color: #fff;
       text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
          0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
          0 0 90px #00fff2;
    }
 
    to {
       color: rgba(238, 0, 255, 0.645);
       text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2,
          0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2,
          0 1 90px #00fff2;
    }
 }

      .button {
        background: linear-gradient(-45deg, #6b2ddf, #9f69fe, #27c8b7, #4f02de);
        background-size: 800% 400%;
        font-family: 'Creepster', cursive;
        display: inline-block;
        border: none;
        border-radius: 30px;
        text-shadow: 0 0 10px rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        transition: all .5s ease-in-out;
        animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
        width: 300px;
        height: 80px;
        cursor: pointer;
       }
       
       .button:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
       }
       
       .button:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
       }
       
       @keyframes gradient {
        0% {
         background-position: 0% 50%;
        }
       
        50% {
         background-position: 100% 50%;
        }
       
        100% {
         background-position: 0% 50%;
        }
       }

