@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.mainDiv {
  display: flex;
  justify-content: center;
}

.paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    list-style-type: none;
    color: white;
    font-weight: 100;
  }

  .li {
    border: 1px solid rgb(0, 128, 81);
    padding: 0px 7px 0px 7px;
    background-color: rgba(4, 4, 4, 0.752);
    margin:  0px 7px 0px 7px;
    width: 44px;
    border-radius: 5px;
    transition: .2s;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
  }

  .li:hover{
    background-color: rgba(108, 108, 108, 0.653);
    cursor: pointer;
  }
